<div class="container wrapper">
  <div class="breadcrumb">
    <h3 class="title">{{title}}</h3>
    <button type="button" class="btn btn-success pull-right btn-lg" [routerLink]="['/student-add']">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button> 
  </div>
  <p class="alert alert-info" *ngIf="students.length == 0">Students list is empty</p>
  <div class="row">
    <div *ngFor="let student of students" class="student col-12 col-lg-6">
      <div class="card card-outline-primary">
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-10">
                  <h4>{{student.firstName + ' ' + student.lastName}}</h4>
                  <p>Group - {{student.groupNumber}}</p>
                  <p>Date of birth - {{displayDate(student.dateOfBirth)}}</p>
                  <p>{{student.hobbies}}</p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 text-center">
                  <button type="button" class="btn btn-warning button-control"
                      [routerLink]="['/student-edit', student.id]">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-danger button-control" (click)="openDeleteModal(student)">
                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>